






p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
}

h3{
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

ul{
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

ol{
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

a {
  color: #005b9a;
}

#nav-wrapper {
  z-index: 99999;
  position: relative;
}

.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-nav {
  float: left;
  width: 14.285714286%;

}

.big-nav {
  display: block;
  padding: 30px;
  background-color: #C0C0C0;
  width: 100%;
  height: 50px;
  min-height: 90px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 20px;
}

.line-nav {
  display: block;
  background-color: #005B9A;
  width: 100%;
  height: 10px;
  box-sizing: border-box;

}

.li-drop-nav .drop-nav {
  display: block;
  padding: 30px;
  background-color: #C0C0C0;
  width: 100%;
  height: 50px;
  min-height: 90px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 20px;
  z-index:999;
}

.big-nav:hover {
    background-color: #74C2E1;
}

.drop-nav:hover {
    background-color: #74C2E1;
}

.active {
  background-color: #005B9A;
}

.hide-dropdown {
  display: none;
}

.text {
  width:50%;
  float:left;

  height: calc(100% - (100px));}

.text-down {
  width: calc(50% - (6px));
  position: absolute;
  top: 108px;
  left: 8px;

  height: calc(100% - (116px));
}

.images {
  width:50%;
  float: left;
  height: calc(100% - (100px));
}

.images-down {
  width: calc(50% - (8px));
  position: absolute;
  top: 108px;
  left: calc(50% + (0px));
  height: calc(100% - (116px));
